{% load i18n %}
<a id="{{ object.slug }}" href="{{ object.get_absolute_url }}">{% blocktrans with object|title as object_title %}{{ object_title }}{% endblocktrans %}</a><br />
{% if object.ip_address %}
{% load iptocountry_flag %}{% get_flag object.ip_address as flag %}<img src="{{ flag.flag_url }}" alt="{{ flag.COUNTRY_NAME|lower }}" />
{% endif %}
{% blocktrans with object.description as object_description %}{{ object_description }}{% endblocktrans %}<br />
{% trans "Posted on" %} {{ object.pub_date|date:"F j, Y" }} {% trans "by" %} {% autoescape off %}{{ object.get_author_str }}{% endautoescape %}<br />
{% load comments %}
{% get_comment_count for newsaggregator.entry object.id as comment_count %}
Comment{{ comment_count|pluralize }}: {{ comment_count }}<br />
